body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: rgb(222, 218, 212);
    background-size: 100%;
    background-blend-mode: darken;
    background-position-y: center;
    background-repeat: no-repeat;
    
}
a{
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    position: fixed; /* Make the header fixed */
    top: 0;          /* Position it at the top */
    left: 0;         /* Align it to the left */
    right: 0;        /* Align it to the right */
    z-index: 1000;
}

header h1 {
    color: #fff;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    position: relative;
}
main{
    background-color: #000;
    opacity: 0.5;
    width: 40%;
    margin: 10%;
    /* padding: 10%; */
    border-radius: 15px;
}
main:hover{
    opacity: 0.9;
}
.lisn{
    height: 100px;
    width: auto;
    font-size: larger;
}
#home h2 {
    font-size: 2.5rem;
    margin: 0;
}

#home p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #000;
    color: #fff;
}
